<p>reset-password works!</p>
<h1>Bienvenue dans l'application de réinitialisation de mot de passe</h1>
<h2>Réinitialisation du Mot de Passe</h2>
<form (submit)="onSubmit()">
  <input
    type="text"
    placeholder="Nom d'utilisateur"
    [(ngModel)]="username"
    name="username"
    required
  />
  <input
    type="password"
    placeholder="Nouveau mot de passe"
    [(ngModel)]="newPassword"
    name="newPassword"
    required
  />
  <button type="submit">Réinitialiser</button>
  <p *ngIf="message">{{ message }}</p>
</form>
